<h1 class="text-center my-4">NARNIA</h1>
<% if user_signed_in? %>
  <h2 class="text-center">Welcome <%= current_user.first_name %>!</h2>
<% end %>

<div class="container mt-3">
  <div class="row">
    <% @outfits.each do |outfit| %>
      <div class="col-md-4 mb-4">
        <div class="card outfit-card">
          <div class="outfit-card-image-wrapper">
            <%= image_tag outfit.photo, alt: outfit.name, class: "img-fluid outfit-image" %>
            <div class="outfit-card-details">
              <h4 class="outfit-card-title"><%= outfit.name %></h4>
              <p><%= outfit.location %></p>
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-euro-sign me-1"></i>
                <span><%= outfit.price %></span>
              </div>
            </div>
          </div>
          <div class="card-body text-center">
            <%= link_to 'See more', outfit, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <%= link_to 'Add new outfit', new_outfit_path, class: 'btn btn-success' %>
  </div>
</div>
