<h1><%= @outfit.name %></h1>
<p><%= @outfit.description %></p>
<p><%= @outfit.location %></p>
<p><%= @outfit.price %></p>

<%= link_to 'Back', outfits_path, class: 'btn btn-secondary' %>
<%= link_to 'Reserve me', new_outfit_reservation_path(@outfit) %>
