<h1 class="my-4 text-center">Edit Reservation</h1>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(model: @reservation, local: true, class: "form") do |form| %>
        <% if @reservation.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
            <ul>
              <% @reservation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :start_date, class: "form-label" %>
          <%= form.date_field :start_date, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :end_date, class: "form-label" %>
          <%= form.date_field :end_date, class: "form-control" %>
        </div>

        <%= form.submit "Update Reservation", class: "btn btn-primary w-100" %>
      <% end %>

      <%= link_to "Back", reservation_path(current_user), class: 'btn btn-secondary mt-3 w-100' %>
    </div>
  </div>
</div>
