<%= form_with(model: [@outfit, @reservation], local: true) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div class="outfit-price">
    <p>Price per day: €<%= @outfit.price %><p>
    <span id="outfit-price" data-price-per-day="<%= @outfit.price %>"></span>
  </div>

  <div class="total-price">
    <h3 id="total-price">Total Price: $<span id="reservation_total_price">0.00</span></h3>
  </div>

  <%= form.hidden_field :outfit_id, value: @outfit.id %>

  <div class="actions">
    <%= form.submit 'Reserve', class: 'btn btn-primary' %>
  </div>
<% end %>

<%# <%= link_to 'Back to Outfits', reservations_path, class: 'btn btn-secondary' %>
