<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Reserve Outfit</h1>

        <%= form_with(model: [@outfit, @reservation], local: true) do |form| %>
          <% if @reservation.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

              <ul>
              <% @reservation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-3">
            <%= form.label :start_date, class: "form-label" %>
            <%= form.date_field :start_date, class: "form-control", id: "reservation_start_date" %>
          </div>

          <div class="mb-3">
            <%= form.label :end_date, class: "form-label" %>
            <%= form.date_field :end_date, class: "form-control", id: "reservation_end_date" %>
          </div>

          <div class="outfit-price">
            <p>Price per day: €<%= @outfit.price %><p>
            <span id="outfit-price" data-price-per-day="<%= @outfit.price %>"></span>
          </div>

          <div class="total-price">
            <h3 id="total-price">Total Price: €<span id="reservation_total_price">0.00</span></h3>
          </div>

          <%= form.hidden_field :outfit_id, value: @outfit.id %>

          <div class="text-center">
            <%= form.submit 'Reserve', class: 'btn btn-primary mt-3 w-100' %>
            <%= link_to 'Back', :back, class: 'btn btn-secondary mt-3 w-100' %>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
