<h1>My Reservations</h1>

<% @reservations.each do |reservation| %>
  <div class="reservation">
    <h3><%= reservation.outfit.name %></h3>

    <% if reservation.start_date %>
      <p><strong>Reserved from:</strong> <%= reservation.start_date.strftime('%B %e, %Y') %></p>
    <% end %>

    <% if reservation.end_date %>
      <p><strong>Reserved to:</strong> <%= reservation.end_date.strftime('%B %e, %Y') %></p>
    <% end %>

    <%= link_to 'Edit', edit_reservation_path(reservation), class: 'btn btn-primary' %>
    <%= link_to 'Delete', reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

  </div>
<% end %>
